body {
    background-color: rgb(255, 255, 255);

}

#div1 {
    display: inline-block;
    border: 1px solid #000;
    margin: 70px;
}

#div2 {
    display: inline-block;
    border: 1px solid #000;
    margin: 70px;
}

#div3 {
    display: inline-block;
    border: 1px solid #000;
    margin-top: 50px;
}


.table1 {
    border: 10px #000;
}

table tr,
th,
td {
    border: rgb(82, 80, 80) solid 1px;

    width: 80px;
    padding: 10px;
    font-size: 20px;

}

td {
    width: 90px;
    height: 50px;

}

/* layout de pagina*/

#header {
    border: 1px solid black;
    width: 1000px;
    height: 100px;
    text-align: center;
}

#conteudo {
    border: 1px solid black;
    width: 1000px;
    height: 500px;

}

#conteudo-left {
    border: 1px solid black;
    width: 30%;
    height: 100%;
    float: left;

}

#conteudo-right {
    width: 600px;
    height: 500px;
    float: left;

}

#footer {
    border: 1px solid black;
    width: 1000px;
    height: 100px;

}
.top {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: -50px 0 0 -25px;
}
.menu {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 250px 0 0 -350px;
}
.con{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 250px 0 0 70px;
}
.roda {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 560px 0 0 -25px;
}

p {
    text-align: center;
}